html {
    font-size: 16px;
    font-family: 'font', sans-serif;
}


.container {
    max-width: 450px;
    height: auto;
    background-color: #232323;         /*#06c0ff*/
    margin: 5% auto;  /*centrar el contenedor*/
    padding-bottom: 1rem;
    border-color: black;
    color: white;
}

.form_top {
    width: 100%;
    text-align: center;
    padding: 2rem 0 1rem;
    border-top: solid .4rem #0000FF;
    margin-bottom: 1rem;
}

.form_top h2 {     /*estilos para darle al h2*/
    font-weight: bold;
    color: white;
    font-size: 18px;
    
}


#horarios{
    text-align: center;
}

h2 span {
    color:white;
}

.form_reg {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn_form {
    display: flex;
    justify-content: space-around; /*separacion entre los botones*/
    margin-top: 1rem;
}

.input, .btn_submit, .btn_reset{
    background-color: #EFEFEF;
    padding: .5rem;
    margin: .5rem 0;
    border: none;
    border-bottom: solid #C8C8C8 .2rem;
    transition: all .5s;
}


.btn_submit, .btn_reset{
    width: 40%;
    border-bottom: none;
    background-color: #31B1E5;
    color: white;
}

.btn_submit:hover {
      background-color: #FA9535;
}

.btn_reset:hover {
    background-color: #FA9535;
}



